@model ContactViewModel
@{
	ViewData["Title"] = "Contato";
}


<h1>Informe seus dados. (*) Preenchimento Obrigatório</h1>

@if (ViewData["Message"] != null)
{
	<div class="alert alert-danger" role="alert">
		@ViewData["Message"]
	</div>
}


<form method="post" asp-action="SendContact" autocomplete="off">

	<div class="form-group mb-2">
		<label asp-for="Nome"></label>
		<input class="form-control" asp-for="Nome" type="text" />
		<span asp-validation-for="Nome" class="text-danger"></span>
	</div>

	<div class="form-group mb-2">
		<label asp-for="Cargo"></label>
		<input class="form-control" asp-for="Cargo" type="text" />
	</div>

	<div class="form-group mb-2">
		<label asp-for="Empresa"></label>
		<input class="form-control" asp-for="Empresa" type="text" />
	</div>

	<div class="form-group mb-2">
		<label asp-for="Fone"></label>
		<input class="form-control" asp-for="Fone" type="text" />
	</div>

	<div class="form-group mb-2">
		<label asp-for="Email"></label>
		<input class="form-control" asp-for="Email" type="email" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="form-group mb-2">
		<label asp-for="Assunto"></label>
		<input class="form-control" asp-for="Assunto" type="text" />
	</div>

	<div class="form-group mb-2">
		<label asp-for="Mensagem"></label>
		<textarea class="form-control" asp-for="Mensagem">	</textarea>
		<span asp-validation-for="Mensagem" class="text-danger"></span>
	</div>

	<input type="submit" class="btn btn-lg btn-primary" value="Enviar" />
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}